mat-form-field {
    width: 100%;
  }

  .btn-signin {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  .link-signup {
    text-decoration: none;
    color: grey;
  }
