<div class="container mat-app-background">
    <mat-card class="auth-card">
      <mat-card-title>Sign In</mat-card-title>
      <mat-card-content>
        <form class="auth-form">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Ex. abc@test.com"
              [formControl]="emailHolder"
              [errorStateMatcher]="matcher"
            />
            <mat-error
              *ngIf="emailHolder.hasError('email') && !emailHolder.hasError('required')"
            >
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailHolder.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Enter your secure password"
              [formControl]="passwordHolder"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="!passwordHolder.hasError('required')">
              Password should have 5 characters</mat-error
            >
            <mat-error *ngIf="passwordHolder.hasError('required')"
              >Password Should not be empty</mat-error
            >
          </mat-form-field>
  
          <button
            mat-raised-button
            color="primary"
            class="btn-signin"
            (click)="Submit()"
          >
            Sign In
          </button>
          <a
            routerLink="/signup"
            class="link-signin"
            routerLinkActive="router-link-active"
            >Not signed up? Click to register</a
          >
        </form>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
  