<div class="container mat-app-background">
  <mat-card class="auth-card">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <form class="auth-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex . abc@test.com" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Enter your secure password"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn-signup">
          Sign Up
        </button>
        <a routerLink="/signin" routerLinkActive="router-link-active"
          >Already registered? Click here</a
        >
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
