<p class="text-gray-600 font-medium text-base mt-3">Upload Tariff</p>
<div class="flex">
  <div
    class="border-2 border-dashed h-36 w-1/6 border-gray-400 mt-2 flex flex-col justify-center items-center"
  >
    <input type="file" class="hidden" />

    <div class="text-center">
      <p class="material-icons text-gray-500">upload</p>
      <p class="text-gray-500">Drag file to upload</p>
    </div>
  </div>
  <div class="h-auto flex self-end ml-4">
    <p class="material-icons text-gray-500">download</p>
    <p class="text-blue-400 font-medium">Generate sample sheet</p>
  </div>
</div>
